.xAxis{
    width: 50%;
    height: 100vh;
    border-right: 5px solid #02d8ff;
  }
  
  .yAxis{
    width: 100%;
    height: 50vh;
    border-bottom: 5px solid #02d8ff;
    position: absolute;
    top: 0;
  }

  .return-btn{
    position: absolute;
    color: white;
    background-color: #02d8ff;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 15px;
    font-weight: 100px;
  }

  .return-btn:hover{
    background-color: #14788a;
  }