

.principal-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
}

.info-conainer{
    height: 100vh;
    width: 60vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-conainer:hover{
    background-color: white;
    color: black; 
}



.info-conainer h1 {
    margin-left: 20px;
    text-align: center;
    text-transform: uppercase;
}

.info-conainer h2 {
    margin: 30px;
}

.task-container{
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.task-container div {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-container div:hover{
    background-color: black;
    color: white;
}


a,  a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }